.meta__features {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.meta__features-heading {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin-right: 2rem;
}

.meta__features-heading h1 {
  font-size: 34px;
  font-style: normal;
  line-height: 45px;
}

.meta__features-heading p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  margin-top: 2rem;
}

.meta__features-container {
  padding-left: 20px;
  flex: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

@media screen and (max-width: 990px) {
  .meta__features {
   flex-direction: column;
   align-items: flex-start;
   background-color:black;
  }

  .meta__features-heading {
    margin: 0 0 0.6rem 0;
  }

  .meta__features-heading h1 {
    font-size: 28px;
    font-style: normal;
    line-height: 37px;
  }
  
  .meta__features-heading p {
    font-size: 14px;
    margin-top: 1rem;
  }

  .meta__features-container {
    padding-left: 0!important;
  }
}

@media screen and (max-width: 550px) {
  .meta__features {
   flex-direction: column;
   align-items: flex-start;
   background-color:rgba(99, 78, 78, 0.582);
  }

  .meta__features-heading h1 {
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
  }

  .meta__features-container h1 {
    font-size: 16px;
  }
  .meta__features-container p {
    font-size: 12px;
  }
}