.meta__whatmeta {
  display: flex;
  flex-direction:column;
  background: radial-gradient(circle at 6% 12%, rgba(0, 27, 177, 1) 0%, rgba(58, 82, 213, 1) 0%, rgba(4, 14, 66, 1) 100%);
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.meta__box{
  width: 100%;
  padding-top: 2rem;
}

.meta__whatmeta-feature {
  display: flex;
}

.meta__whatmeta-feature .meta__whatmeta-container__feature {
  margin: 0;
}

.meta__whatmeta-feature .meta__whatmeta-text {
  max-width: 700px;
}

.meta__whatmeta-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem;
}

.meta__whatmeta-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  max-width: 510px;
}

.meta__whatmeta-heading p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}

.meta__whatmeta-container {
  display: flex;
  flex-direction: row;
}

.meta__whatmeta-container .meta__features-container__feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 880px) {
  .meta__whatmeta-container {
    flex-direction: column;
  }
  
  .meta__whatmeta-container.meta__features-container__feature {
    flex-direction: row;
  }
 } 


@media screen and (max-width: 995px) {
  
  .meta__whatmeta-heading h1 {
    font-size: 28px;
    line-height: 30px;
  }

  .meta__whatmeta-heading p {
    font-size: 13px;

  }

  .meta__whatmeta-container h1 {
    font-size: 18px;
  }

  .meta__whatmeta-container p {
    font-size: 13px;
  }
 } 
