.meta__cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  text-align: justify;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem 0.5rem 3rem;
  margin: 0 1rem;
}

.meta__cta-content{
  flex: 2;
}

.meta__cta-content p {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #0E0E0E;
}

.meta__cta-content h3 {
  font-weight: 800;
  font-size: 22px;
  line-height: 45px;
  color: #000;
}

.meta__cta-btn {
  flex: 0.5;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 8rem;
}

.meta__cta-btn button {
  font-weight: bold;
  font-size: 18px;
  line-height:30px;
  color: #FFF;
  background: #000;
  border-radius: 40px;
  padding: 0.5rem 1rem;
  border:none;
  outline: none;
  cursor: pointer;
  min-width: 103px;
}

@media screen and (max-width: 1050px) {
  .meta__cta-content h3 {
    font-size: 18px;
    line-height: 30px;
  }

  .meta__cta-btn button {
    font-size: 16px;
    line-height:25px;
    padding: 0.5rem 0.5rem;
  }

}

@media screen and (max-width: 650px) {
  .meta__cta {
    flex-direction: column;
    padding: 0.5rem 0rem 0.5rem 0rem;
  }

  .meta__cta-content h3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0.5rem;
  }

  .meta__cta-btn {
    width: 100%;
    justify-content: center;
    margin-left: 0;
  }
}  

@media screen and (max-width: 460px) {  
  .meta__cta {  
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .meta__cta-content h3 {
    font-size: 13px;
    line-height: 20px;
  }

  .meta__cta-btn {
    margin-left: 0;
  }
  
  .meta__cta-btn button {
    font-size: 12px;
    line-height:20px;
    padding: 0.2rem 0.2rem;
  } 
}


