.meta__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-footer);
}

.meta__footer-heading {
  width: 100%;
  text-align: center;

  margin-bottom: 1rem;
}

.meta__footer-heading h1 {
  font-family: var(--font-family);
  font-size: 62px;
  font-weight: 800;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.meta__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;

  margin-bottom: 5rem;
  cursor: pointer;
}

.meta__footer-btn p {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  word-spacing: 2px;
}

.meta__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;

  width: 100%;
  text-align: lef;
}

.meta__footer-links div {
  width: 250px;
  margin: 1rem;
}

.meta__footer-links_logo {
  display: flex;
  flex-direction: column;
}

.meta__footer-links_logo img {
  width: 118px;
  height: 30px;

  margin-bottom: 1rem;
}

.meta__footer-links_logo p {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.meta__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.meta__footer-links_div h4 {
  font-size: 14px;
  line-height: 16px;
  color: #fff;

  margin-bottom: 1rem;
}

.meta__footer-links_div p {
  font-size: 12px;
  line-height: 14px;
  color: #fff;

  margin: 0.5rem 0;
  cursor: pointer;
}

.meta__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.meta__footer-copyright p {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .meta__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
  
}

@media screen and (max-width: 550px) {
  .meta__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .meta__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }

  .meta__footer-links {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .meta__footer-links_logo {
    justify-content: center;
    align-items: center;
  }

  .meta__footer-links_div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .meta__footer-heading h1 {
    font-size: 46px;
    line-height: 38px;
  }
}

@media screen and (max-width: 450px) {
  .meta__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}