@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --font-family:'Poppins', sans-serif;

  --gradient-text:linear-gradient(323deg, #100024 1%, #5d009f 100%);;
  --gradient-bar:linear-gradient(323deg, #9f0000 1%, #9f9000 100%);

  --color-bg:#042c54;
  --color-footer:#001f3f;
  --color-blog:#004183;
  --color-text:#94bbe9;
  --color-subtext: #9f9000;

}


.App {

}

.App-header {
 
}

