.meta__header {
  display: flex; 
}

.meta__header-content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.meta__header-content h1 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.meta__header-content p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin-top: 1.5rem;
}

.meta__header-content__input {
  width: 100%;
  margin-top: 2rem;
  display: flex; 
}

.meta__header-content__input input {
  flex: 1;
  width: 100%;
  min-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 27px;
  padding: 0 1rem;
  color: #3d3d3d;
  border: 2px solid #180070;
  border:none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.meta__header-content__input button {
  flex: 0.5;
  width: 100%; 
  min-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  background: #ff4820;
  border: none;  
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.meta__header-content_people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.meta__header-content_people img {
  width: 182px;
  height: 38px;
}

.meta__header-content_people p {
  margin: 0 0 0 1rem;
  text-align: center;
  font-style: normal;

  font-size: 17px;
  line-height: 38px;
  color: #fff;
}

.header__header-image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header__header-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .meta__header {
    flex-direction: column;
  }

  .meta__header-content{
    margin: 0 0 1rem;
  }

  .header__header-image img {
    width: 60%;
    height: 60%;
  }

}

@media screen and (max-width: 650px) {
  .meta__header h1 {
    font-size: 50px;
    line-height:60px
  }
  .meta__header P {
    font-size: 18px;
    line-height: 24px;
  }
  .meta__header-content_people {
    flex-direction: column;
  }

  .meta__header-content_people p {
    font-size: 16px;
    margin: 0;
  }
  
  .meta__header-content__input input,
  .meta__header-content__input button {
    font-size: 16px;
    line-height:24px;
  }
}

@media screen and (max-width: 490px) {
  .meta__header h1 {
    font-size: 36px;
    line-height:48px
  }
  .meta__header P {
    font-size: 16px;
    line-height: 24px;
  }
  .meta__header-content__input input,
  .meta__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}